---
serviceTitle: NHS.UK design manual
---

{% extends "default.njk" %}

{% block body_site_header %}
<!--
<div class="notification-banner notification-banner">
  <div class="notification-banner__inner">
  <div style="padding: 4px 8px; display: inline-block; background: black; color: #fada8b;  margin-right: 8px; font-weight: 700;">Alpha</div>
    This is a service we are working on.
  </div>
</div>
-->

  {{ super() }}


  {% if breadcrumb_2_name %}
  <div class="notification-banner notification-banner">
    <div class="notification-banner__inner">
    <a href="index.html">Design manual</a> &rarr;
    {% if breadcrumb_2_link %}
    <a href="{{ breadcrumb_2_link }}">{{ breadcrumb_2_name }}</a>

    {% if breadcrumb_3_name %}
         &rarr; {{title }}
    {% endif %}


    {% else %}
    {{title }}
    {% endif %}
    </div>
  </div>
  {% endif %}


{% endblock %}

{% block body_main_content %}

  <div class="full-width-header"/>
    <div class="page-section">
      <h1 class="local-header__title">{{ title }}</h1>
      <div class="local-header__intro">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="grid-row">
      <div class="column--three-quarters">
        {{ contents | safe -}}
      </div>
    </div>
  </div>

{% endblock %}
